<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>
  </head>
  <body onload="init()">
      <%- include('../../layout/header') %>
    <main class="new-search">
      <h1 class="title-font">Search The Google Books API</h1>
      <!-- action visits the route and method is the route method -->
      <form action='/searches' method='post'>
        <input type="text" name="search" placeholder="Enter a title or author" required>
        <section>
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
          <label for="author">
            <span>Author</span>
            <input type="radio" name="search" value="author" required>
          </label>
          <button type="submit">Search!</button>
        </section>
      </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>