<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body onload="init()">
  <%- include('../layout/header') %>
  <main class="error-page title-font">
    <h1>Oops, something went wrong with your search, My apology.</h1>
  </main>
  <%- include('../layout/footer') %>
</body>
</html>