@import 'layout.css';
@import 'modules.css';
@import 'fonts.css';

* {
  box-sizing: border-box;
}

body{
  background-image: url('../assets/pattern.jpg');
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #301607;
}

.favorite-books .book-container p:nth-child(4), 
.favorite-books .book-container p:nth-child(5), 
.favorite-books .book-container p:nth-child(6), 
.favorite-books .book-container .select-btn, 
.form-section, 
.single-book .select-btn, 
.search-results .book-container p:nth-child(5),
.search-results .book-container p:nth-child(6) 
{
  display: none;
}
