<section class="nav-section title-font">
  <nav class="nav-hide">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/new">Search the Google Books API</a></li>
    </ul>
  </nav>
  <div class="menu">
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>