<section class="nav-section title-font">
  <nav class="nav-hide">
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/new"><li>Search the Google Books API</li></a>
    </ul>
  </nav>
  <div class="menu">
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>